!.env.example
!.yarn/plugins
!.yarn/releases
.DS_Store
.env
.env.*
.histoire
.jampack
.pnp.*
.yarn/*
/.svelte-kit
/build
/package
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
yarn.lock

megalinter-reports/
